/*
	CSS Structure
	1. Custom GDS NTA font references
	2. Global page & text styling
	3. Header
	4. Footer
	5. Header & footer separation bars
	6. Section buttons & form options
	7. General field & caption CSS
	8. Text & memo fields
	9. Drop down / list boxes
	10. Radio buttons and checkboxes
	11. Error and information message boxes
	12. Inline errors, alerts and information
	13. Help text
	14. Mandatory & optional fields
	15. Tables
	16. Buttons and links
	17. Indented headings
	18. Date fields
	19. Dialogs
	20. Summary section
	21. Responsive handling
*/

/* 1. Custom GDS NTA font references */
@font-face {
	font-family:'nta';
	src: url('NTA-Light-20130221.eot?#iefix') format('embedded-opentype'),
		 url('NTA-Light-20130221.woff') format('woff');
	font-weight:400;
	font-style:normal
}

@font-face {
	font-family:'nta';
	src: url('NTA-Bold-20130221.eot?#iefix') format('embedded-opentype'),
		 url('NTA-Bold-20130221.woff') format('woff');
	font-weight:700
}

@font-face {
	font-family:'ntatabularnumbers';
	src: url('NTATabularNumbers-Light.eot?#iefix') format('embedded-opentype'),
		 url('NTATabularNumbers-Light.woff') format('woff');
	font-weight:400;
	font-style:normal
}

@font-face {
	font-family:'ntatabularnumbers';
	src: url('NTATabularNumbers-Bold.eot?#iefix') format('embedded-opentype'),
		 url('NTATabularNumbers-Bold.woff') format('woff');
	font-weight:700
}

/* 2. Global page & text styling */
fieldset.headingenabled legend {
	border:none;
	margin-bottom:20px;
	padding-left:0;
	max-width:100%
}

.formtitle {
	width:700px;
	display:none
}
.tlform h1 {
	font-size:36px;
	font-family:'nta',Arial,sans-serif
}

.tlform h3 {
	margin-left:0;
	font-size:24px;
	width:100%
}

.tlform .heading h3 {
	margin-left:0
}

.heading h2 {
	text-align:left;
	font-size:20px;
	margin-bottom:10px
}

.heading h3 {
	text-align:left;
	font-size:14px;
	font-weight:100
}

.tlform fieldset,.tltoolbar,.nonIE .partcontent .w4,.tlheadercontent,.fieldrow {
	padding:0
}

p {
	line-height:1.31579;
	text-transform:none;
	margin-bottom:10px;
	margin-top:0
}

div.aj_formcontent {
	margin-top:0;
	clear:both
}

.columns {
	margin-bottom:20px;
	display:inline-block;
	width: 100%
}

.hidden {
	display:none
}

#device {
	display:none
}

.no-js .displayoff {
	display:block
}

.displayoff {
	display:none
}

.displayon {
	display:block
}

.fieldwidthmodifier,.fieldwidthmodifierdate.formtableaddbuttonhint,.linkbaritem a,div.hodate label,#FO_Tob,.fieldinputcolumn,.helpcontainer {
	font-size: 19px;
}

/* 3. Header - gov.uk logo, form title & beta symbol */
.navbar a,.navbar a:visited {
	color:#fff!important
}

.navbar a:hover,.navbar a:visited:hover {
	color:#fff!important;
	text-decoration:underline
}

.navbar-inner {
	padding-top:8px;
	padding-bottom:6px
}

.navbar-inner {
	filter:none;
	background-color:#0b0c0c!important;
	background-image:none!important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:none;
	padding:10px 0;
	overflow:hidden
}

.container,.navbar-fixed-bottom .container,.navbar-fixed-top .container,.navbar-static-top .container {
	max-width:1000px;
	width:auto;
	margin:auto
}

.navbar-fixed-top {
	top:0
}

.navbar-fixed-bottom,.navbar-fixed-top {
	position:relative;
	right:0;
	left:0;
	z-index:1030;
	margin-bottom:0;
	min-height:55px;
	background:#0b0c0c;
	overflow:hidden
}

header #logo {
	position:relative;
	top:0;
	height:30px;
	overflow:visible;
	vertical-align:baseline;
	color:#fff!important;
	font-weight:700;
	font-size:30px;
	line-height:1em;
	text-decoration:none;
	text-rendering:optimizeLegibility;
	padding-bottom:1px;
	margin:6px 0 -1px 20px;
	width:161px;
	float:left;
	white-space:nowrap
}

header #logo:focus,header #logo:hover {
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:0
}

header #logo img {
	position:relative;
	top:0;
	width:35px;
	height:31px;
	padding-right:6px;
	float:left;
	display:inline;
	line-height:inherit;
	border:none
}

div.home {
	font-size:24px;
	line-height:1.31579;
	text-transform:none;
	text-align:center
}

#proposition-name {
	line-height:1.25;
	text-transform:none;
	font-weight:700;
	color:#fff!important;
	text-decoration:none;
	width:64%;
	float:left;
	margin-top:5px
}

.phase-tag-beta {
	background-color:#f47738;
	color:#fff;
	font-size:18px;
	font-weight:700!important;
	display:inline-block;
	vertical-align:top;
	margin:3px 8px 0;
	padding:2px 5px 0;
	font-size:16px;
	line-height:1.25;
	text-transform:uppercase;
	letter-spacing:1px
}

#global-cookie-message {
	clear:both;
	background-color:#d5e8f3;
	padding:10px 15px;
	margin:0 20px;
	text-align:center
}

/* 4. Footer - open government license notice & crown copyright logo */
footer {
	background-color:#dee0e2!important;
	border-top:1px solid #a1acb2
}

footer .container {
	padding:0 1em 60px;
	overflow:auto
}

.footer-meta {
	border-width:1px 0 0;
	margin:20px 0 0;
	padding:0 17px 0px 22px;
	font-size:14px;
	color:#454a4c
}

.footer-meta a {
	color:#454a4c!important
}

.footer-meta a:hover {
	color:#171819!important
}

.footer-meta .copyright {
	font-size:16px;
	line-height:1.25;
	display:inline-block;
	width:25%;
	padding-top:15px
}

footer .footer-meta .copyright a {
	display:block;
	padding:115px 0 0;
	background:transparent url(../_static/govuk-crest.png) no-repeat 100% 0;
	text-align:right;
	text-decoration:none;
	margin:0 auto
}

.footer-meta-inner {
	display:inline-block;
	vertical-align:bottom;
	width:74%
}

.open-government-licence {
	position: relative;
	padding-left: 54px;
}

.open-government-licence p {
	font-size: 16px;
	line-height:1.25;
	margin-bottom: 0;
	padding-top: 0.1em;
}

.open-government-licence h2 {
	margin-bottom: 1em;
}

.open-government-licence h2 a {
	display:block;
	width:41px;
	height:17px;
	overflow:hidden;
	text-indent:-999em;
	background:url(../_static/open-government-licence.png) 0 0 no-repeat;
	direction: ltr;
}

/* 5. Header & footer separation bars (the colour of these should be modified 
   to your government department's appropriate colour scheme */
.top-bar,.top-bar-footer {
	background-color:#005EA5;
	height:10px
}

.top-bar {
	margin:0 20px
}

/* 6. Section buttons & form options */
.tlmaincontent,.tlmaincontent_nosecbuttons,.headerarea2_nosecbuttons {
	margin-left:20px;
	margin-right:20px
}

.CloseDialog .tabtoolbar .tlsectionbuttons,.KeyBasedStartDialog .tabtoolbar .tlsectionbuttons {
	border-bottom:none;
	border-top:none
}

.tlsectiondropdowncaption,.tlsectiondropdown .listboxfield {
	font-size:16px
}

.tlsectiondropdown .listboxfield {
	margin-right:15px
}

#BSG_Sections {
	text-align:left
}

a[title^="Accessibility"] {
	display:none
}

.linkbaritem {
	border-left:none
}

.formsaveid {
	font-size:19px;
	font-weight:800;
	margin-right:258px
}

.selfreglink a {
	font-size:16px
}

/* 7. General field & caption CSS */
.fieldwrapper {
	margin-bottom:20px
}

.fieldmergedcolumn {
	overflow:visible;
	width:55%
}

.fieldmergedcolumn ul {
	margin-top:10px
}

.fieldmergedcolumn li {
	line-height:1.6em
}

.fieldmergedcolumn p {
	margin-bottom:20px
}

.formtextarea_err,.formtextfield_err,.formpasswordfield_err,.narrowformtextfield_err,.tlform .radiogroup_err,.checkboxfield_err,.hourfield_err,.minutefield_err,.yearfield_err {
	border:solid 1px #e00000;
	padding:10px
}

.fieldwithlinkedbutton .fieldwidthmodifier_err,.fieldwidthmodifier_errlist {
	margin-bottom:10px
}

.headercontrols {
	min-width:206px
}

.fieldcaptioncolumn {
	width:22%;
	font-weight:bold
}

label,.fieldcaptioncheckbox,.fieldcaptioncolumn_alignright label,.fieldcaptionradio,.fieldmergedcolumn,.top_caption,.fieldcaptionlistbox,.fieldinputcolumn ul li,.fieldcaptioncolumn,div.aj_table>fieldset>legend {
	line-height:1.25em
}

.captionitem {
	width:100%;
	font-weight:normal;
	font-size:19px
}

.fieldcaptionlistbox {
	margin-bottom:10px;
	display:inline-block;
	font-weight:bold
}

.help {
	font-weight:bold
}

.top_caption {
	margin-bottom:5px;
	font-weight:600
}

.nonIE fieldset.emptylegend {
	margin-top:0
}

legend.empty {
	border:none
}

/* 8. Text & memo fields */
input.formtextfield_err {
	border:solid 1px #e00000
}

.formtextfield,.formtextfield_err {
	width:55%
}

.formtextarea,.formtextarea_err {
	width:88%
}

.fieldinputcolumn {
	width:33%;
	overflow: inherit;
}

input[type="text"]:focus,select:focus,textarea:focus {
	outline:solid 3px #ffbf47
}

select,input[type=text],input[type=email],input[type=number],input[type=tel],input[type=search],input[type=url],input[type=tel],input[type=password],textarea {
	background-color:#fff;
	border:1px solid #bfc1c3;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:10px
}

select,input[type=text],input[type=email],input[type=number],input[type=tel],input[type=search],input[type=url],input[type=tel],input[type=password] {
	height:36px;
	padding:4px;
	margin:2px 0;
	width:100%
}

div.KeyBasedStartDialog div.fieldinputcolumn {
	width:60%
}

/* 9. Drop down / list boxes */
.nonIE .fieldwidthmodifierlist,.IE8 .fieldwidthmodifierlist,.IE9 .fieldwidthmodifierlist {
	width:55%
}

.listboxfield {
	max-width:99%;
	width:auto
}

/* 10. Radio buttons and checkboxes */
.checkboxfield,.checkboxfield_err {
	display:inline;
}

.radiogroup,.radiogroup_err {
	line-height:2px
}

.radiogroup label,.checkboxfield label,.radiogroup_err label,.checkboxfield_err label {
	top:0;
	display:block;
	float:none;
	margin:3px 10px 10px 3px;
	padding:18px 30px 15px 45px;
	background-color:#dee0e2;
	position:relative;
	border:1px solid #FFFCFC;
	font-weight:400;
	font-size:19px
}

.fieldcaptioncheckbox {
	margin-bottom:10px;
	display:inline-block
}

.checkboxfield label {
	margin-right:0;
	margin-bottom:-8px
}

.radiogroup_horizontal label {
	float:left
}

.radiogroup input[id$="_apptype"] + label {
	width:350px;
	padding-right:0;
	margin-bottom:10px
}

.radiogroup input[id$="Date_filter"] + label {
	padding-right:21px
}

.radiogroup label:hover,.checkboxfield label:hover,.radiogroup_err label:hover,.checkboxfield_err label:hover {
	border-color:#0b0c0c;
	position:relative
}

label.focused {
	outline:solid 3px #ffbf47;
	border-color:#0b0c0c
}

label.checked {
	border:1px solid #555;
	background-color:rgba(255,255,255,0)
}

input[type="radio"],input[type="checkbox"] {
	margin:3px 0 0 -24px;
	background:#fff;
	position:absolute;
	z-index:1;
	background-color:#dee0e2;
	float:left
}

fieldset.radiogroup, div.checkboxfield, .radiogroup_err, .checkboxfield_err {
	vertical-align: top;
}

.tlform .radiogroup,.tlform .radiogroup_err {
	margin:0
}

.tlform .radiogroup_err,.checkboxfield_err {
	padding-left:20px;
	padding-top:20px
}

.radioinputcolumn {
	width:78%
}

.radiomergedcolumn {
	width:100%
}

input[type="checkbox"][disabled="disabled"] {
	display:none
}

div.fieldwidthmodifierradio {
	width:100%
}

.cols2 .radiogroup label,.cols2 .checkboxfield label,.cols2 .radiogroup_err label,.cols2 .checkboxfield_err label, 
.cols3 .radiogroup label,.cols3 .checkboxfield label,.cols3 .radiogroup_err label,.cols3 .checkboxfield_err label, 
.cols4 .radiogroup label,.cols4 .checkboxfield label,.cols4 .radiogroup_err label,.cols4 .checkboxfield_err label,
.cols5 .radiogroup label,.cols5 .checkboxfield label,.cols5 .radiogroup_err label,.cols5 .checkboxfield_err label, 
.cols6 .radiogroup label,.cols6 .checkboxfield label,.cols6 .radiogroup_err label,.cols6 .checkboxfield_err label {
	clear: left;
	float: none
}

/* 11. Error and information message boxes */
.aj_formmessage {
	outline:none
}

.aj_formmessage h2[title="Error message"].info,.aj_formmessage h2[title="Error message"].info2,.aj_formmessage h2[title="section error"].info,.aj_formmessage h2[title="section error"].info2 {
	border:3px solid #df3034;
	padding:1em;
	margin:.1em -1em 0 -1.2em;
	border-color:#df3034
}

.tlform .custommsg {
	padding: 15px;
	border: 3px solid #BFC1C3;
	background-color: #DEE0E2;
}

a.aerror {
	color:#DF3034
}

a.aerror, #Message {
	line-height:1.25;
	text-transform:none;
	text-decoration:none
}

a.aerror:hover {
	text-decoration:underline!important
}

#Message:hover {
	text-decoration: none!important;
}

.info a:hover, .custommsg a:hover {
	color:inherit
}

div.errormsgheader {
	color:#0B0C0C;
	font-size:24px;
	font-weight:700
}

div.errormsgheader+p {
	color:#0B0C0C;
	font-size:19px;
	margin-top:14.25px;
	margin-bottom:14.25px;
	font-weight:700
}

legend .aj_formmessage {
	outline:none;
	width:75%;
	float:none;
	margin-top:0;
	padding-bottom:0;
	position:relative;
	top:-21px
}

/* 12. Inline errors, alerts and information */
.fielderrortext strong {
	color:#df3034;
	font-size:16px;
	line-height:1.25;
	font-weight:300!important;
	text-transform:none;
	display:block;
	padding-bottom:.5em
}

.fieldwidthmodifier_err {
	padding-right:0
}

.fieldrow_err {
	background-color:#fef7f7;
	padding:20px 0 20px 17px;
	border-left:3px solid #df3034;
	margin-left:-20px
}

.dlgcontent .fieldrow_err {
	padding-left:13px;
	margin-left:-16px
}

.headercontrols,.fieldiconscolumn {
	min-width:0
}

.fieldiconscolumn {
	width:auto
}

.tliconerror {
	display:none
}

.alert-error {
	color:#C20300;
	padding:10px;
	width:920px
}

.alert-info {
	color:#10435C;
	font-size:18px;
	font-weight:500;
	padding:10px;
	width:920px
}

.alert-info p {
	display:inline-block;
	margin-top:4px
}

.alert p {
	margin-bottom:0
}

.iconinfo {
	background:url(info-iconx1.png) no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	margin-right:10px;
	background-size:30px;
	float:left
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),not all,not all,not all,not all,not all {
	.iconinfo {
		background:url(info-iconx2.png) no-repeat;
		width:30px;
		height:30px;
		display:inline-block;
		margin-right:10px;
		background-size:30px;
		float:left
	}

	.eulogo {
		width:63px;
		height:42px;
		display:inline-block;
		float:right;
		background:url(eu_logo_x2.png)no-repeat;
		margin-right:20px;
		background-size:100%
	}
}

/* 13. Help text */
.standardcaption,.standardcaptionhelptext {
	display:none
}

.help-block {
	margin:8px 20px 5px 0;
	color:#000!important;
	display:block;
	font-size:19px;
	font-weight:400;
	line-height:1.31579;
	max-width:1000px
}

.standardcaptionhelptext .help-block,.standardcaptionhelptext .help-text {
	margin-top:0;
	font-size:16px;
	line-height:1.25
}

.fieldrightcolumn .tliconhelp {
	margin-top:2px;
	margin-left:8px
}

.radiomergedcolumn .tliconhelp {
	margin-top:-3px
}

.radioinputcolumn .tliconhelp {
	margin-top:5px
}

summary::-webkit-details-marker {
	display:none
}

summary:focus {
	outline:none
}

details > * {
	display:none
}

details > summary:before {
	float:left;
	width:15px;
	content:'► ';
	font-size:60%;
	margin-top:4px
}

details.open > summary:before {
	content:'▼ '
}

details.open>summary.guidance {
	background-color:#ffbf47;
	outline:3px solid #ffbf47
}

summary {
	cursor:pointer;
	font-size:19px;
	line-height:1.31579;
	font-weight:400;
	text-transform:none;
	color:#005ea5;
	display:inline;
	text-decoration:underline
}

summary:hover {
	color:#2e8aca
}

.detailwrap {
	border-left:solid 10px #bfc1c3;
	padding:.99999em 0 .99999em .99999em;
	margin-bottom:1em;
	clear:both;
	text-decoration:none;
	color:#0b0c0c;
	line-height:1.2em;
	font-weight:400;
	max-width:100%
}

input[type="submit"].attachfieldbuttonretrieve {
	display:none
}

.opthelp {
	float:left
}

.helpcaption {
	font-weight:800;
	margin-bottom:4px
}

.helpsummary {
	margin-bottom:4px
}

div.help-text {
	font-weight:400;
	font-size:19px;
	line-height:1em;
	color:#656565
}

/* 14. Mandatory & optional fields */
.tliconmandatory {
	display:none
}

.tlform .tliconmandatory,.tlform .tliconnomandatory {
	width:0;
	height:0;
	margin:0
}

.optional {
	font-size:.9em;
	color:#595959;
	font-weight:400
}

/* 15. Tables */
table.tltable {
	border:none!important
}

table.tltable {
	border-collapse:collapse;
	border-spacing:0
}

table.tltable thead {
	display:table-header-group;
	vertical-align:middle;
	border-color:inherit
}

table.tltable tbody tr {
	border-top:1px solid #ddd!important;
	border-bottom:1px solid #ddd!important
}

.formsectionbody table.tltable th,.formsectionbody table.tltable td {
	line-height:1.25em;
	text-align:left;
	border:solid 1px #a1acb2!important;
	padding:.7em .5em .7em 1em
}

.formsectionbody table.tltable td {
	border:dotted 1px #b8c6cc!important;
}

.formsectionbody table.tltable th {
	text-transform:none;
	vertical-align:top
}

.tablerowbuttons {
	width:216px;
}

.tlTableInlineAddRowContent {
	padding:1px 0 7px 35px;
	margin:5px -6px 5px -38px
}

.tlTableInlineAddRowContent .aj_formmessage {
	float:none
}

.formsectionbody table.tltable th:last-child,.formsectionbody table.tltable td:last-child {
	border-left:none!important
}

.formsectionbody table.tltable th:nth-last-child(2),.formsectionbody table.tltable td:nth-last-child(2) {
	border-right:none!important
}

.formsectionbody table.tltable td.totaltexttablecell,.totalvaluetablecell {
	font-weight:700
}

.formsectionbody table.tltable td.totaltexttablecell {
	text-align:right
}

.tableouter {
	margin-bottom:80px
}

.formsectionbody table.tltable th,.formsectionbody table.tltable td {
	border-left:none!important;
	border-right:none!important;
	border-top:none!important;
	padding-left:0;
	border-bottom:none!important
}

.responsivetableblanktext {
	font-size:16px;
	margin:10px 0 5px 4px
}

/* 16. Buttons and links */
.nonIE .linkedbuttoncontainer {
	display:inline-block
}

.toolbarbuttons {
	margin-left:0
}

.dlgbuttons {
	text-align:left
}

.LogonDialog .toolbarbuttons {
	margin-left:22%
}

.fieldwithlinkedbutton,.captionwithlinkedbutton {
	margin-bottom:10px;
	display:inline-block;
	float:left
}

.attachfieldbuttons {
	margin-left: -6px;
}

#BTB_BB_Back[disabled="disabled"] {
	display:none
}

input[type="submit"]:focus {
	outline:solid 3px #ffbf47
}

.tl_responsive .tltoolbar,.tltoolbar {
	margin-bottom: 30px;
}

.toolbarbuttons.toolbarbuttons_bottom {
	float:left
}

.KeyBasedStartDialog .aj_bottomtoolbar #BTB_BB_Cancel.button {
	margin-left:0;
	top:0;
	margin-top:-50px
}

.formtableaddbuttonarea {
	float:left
}

div.toolbarbuttons_bottom li.tlnoli {
	display:inline
}

.aj_bottomtoolbar #BTB_BB_Back {
	margin-top:-15px
}

.button, .buttondisabled {
    border: none
}

.button:hover {
	background-color: #BFC1C3;
	color: inherit;
}

.buttondisabled {
	opacity: 0.5;
}

.toolbarbuttons_bottom .button,.popuptoolbar .button,.tltoolbar .button,.tltoolbar .buttondisabled,.dlgbuttons input[value=Cancel],.dlgbuttons input[name="BB_NoBtn"] {
	text-decoration:underline
}

#aj_bodydiv #BB_NoBtn.button,#aj_bodydiv #BB_Cancel.button,.dlgbuttons input[value=Cancel],.dlgbuttons input[name="BB_NoBtn"],#BTB_BB_Cancel {
	color:#005ea5;
	background:none;
	box-shadow:none
}

.formtablebody a:link,.formtablebody a:visited,.formtablebody .button {
	font-size:16px;
	line-height: 1.25;
	height:auto;
	background:none;
	color:#005ea5;
	box-shadow:none
}

.aj_bottomtoolbar #BTB_BB_Cancel.button,.aj_bottomtoolbar #BTB_BB_Exit,.aj_bottomtoolbar #BTB_BB_Back,#aj_bodydiv #BB_Cancel.button,.dlgbuttons input[value=Cancel],
.dlgbuttons input[name="BB_NoBtn"]  {
	text-align:left
}

.formtablebody a:link:hover,.formtablebody a:visited:hover,.formtablebody .button:hover,.toolbarbuttons_bottom .button:hover,.popuptoolbar .button:hover,
.tltoolbar .button:hover,.tltoolbar .buttondisabled:hover,#aj_bodydiv #BB_Cancel.button:hover,#aj_bodydiv #BB_NoBtns.button:hover,
.dlgbuttons input[value=Cancel]:hover,.dlgbuttons input[name="BB_NoBtn"]:hover,#BTB_BB_Cancel:hover{
	color:#2e8aca;
	background-color:#FFF
}

.formtablebody a:link:focus,.formtablebody a:visited:focus,.formtablebody .button:focus,.toolbarbuttons_bottom .button:focus,.popuptoolbar .button:focus,
.tltoolbar .button:focus,.tltoolbar .buttondisabled:focus,.dlgbuttons input[value=Cancel]:focus,.dlgbuttons input[name="BB_NoBtn"]:focus{
	outline:none
}

.aj_bottomtoolbar #BTB_BB_Next.buttondisabled,.aj_bottomtoolbar input[type=submit][disabled=disabled],.aj_bottomtoolbar .buttondisabled,.aj_bottomtoolbar [disabled].button, 
.aj_toptoolbar #BB_Next.buttondisabled,.aj_toptoolbar input[type=submit][disabled=disabled],.aj_toptoolbar .buttondisabled,.aj_toptoolbar [disabled].button
{
	opacity:.5
}

.PDFOptions input[name="BB_YesBtn"],#OKButton.button,#BB_AddRowAndClose,#BTB_BB_OK,#BB_OK,#BTB_BB_Next,#BB_Next,.FormClose input[name="BB_Save"],.button[id$="__pca"],
input[type="submit"]#BTB_BA_Backtosummary.button,#BA_Backtosummary.button .dlgbuttons .button,.dlgbuttons input[name="BB_OK"] {
	background-color:#00823b;
	position:relative;
	top:0;
	padding:.52632em .78947em .26316em;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:0 2px 0 #003518;
	-moz-box-shadow:0 2px 0 #003518;
	box-shadow:0 2px 0 #003518;
	line-height:1.25;
	text-decoration:none;
	-webkit-font-smoothing:antialiased;
	cursor:pointer;
	color:#fff;
	margin-bottom:10px;
	min-height:38px;
	min-width:90px;
	margin-right:10px
}

#BB_AddRowAndClose:hover,#BB_OK:hover,#BTB_BB_Next:hover,#BB_Next:hover,.FormClose input[name="BB_Save"]:hover,.dlgbuttons .button:hover,.button[id$="__pca"]:hover, 
input[type="submit"]#BTB_BA_Backtosummary.button:hover,input[type="submit"]#BA_Backtosummary.button:hover {
	background-color:#00692f;
	color: #fff
}

div.aj_toptoolbar #BB_OK,div.aj_toptoolbar #BB_tlOld_OK {
	margin-right:39px;
	width:275px
}

.modalform #BTB_BB_Back {
	float:none;
	margin-top:65px
}

.modalform #BTB_BB_Next {
	margin-top:-150px
}

.SystemErrorDialog div.aj_bottomtoolbar #BTB_BB_OK {
	display:block
}

#BTB_BB_SpellCheck,#BTB_BB_tlOld_SpellCheck,#BTB_BB_tlOld_OK,#BTB_BB_tlOld_Back,#BTB_BB_tlOld_Next,#BB_tlOld_SpellCheck,#BB_tlOld_Back,#BB_tlOld_Next {
	display:none
}

input[type="submit"]#BTB_BA_Backtosummary.button,input[type="submit"]#BA_Backtosummary.button {
	display:none
}

/* 17. Indented headings */
fieldset[id$="__ind"] div[id$="__ind"] {
	height:100%;
	border-left:solid 10px #bfc1c3;
	padding:.6em 0 0 2.8em;
	margin-bottom:1.2em
}

fieldset[id$="__ind"] div[id$="__ind"] h4 {
	margin-top:0;
	font-weight:400
}

div[id$="__ind"] .fieldmergedcolumn {
	font-weight:400;
	width:auto
}

/* 18. Date fields */
div.hodate,div.hodate input[type="text"],div.hodate label {
	float:left
}

div.hodate label {
	font-weight:400;
	line-height:1.31579;
	margin-bottom:5px
}

div.hodate {
	margin-right:11px
}

div.hodate input[type="text"] {
	clear:both
}

.datefielddata input[type="text"] {
	margin-left:0
}

.tliconcalendar {
	display:none
}

.dayfield,.monthfield {
	width:3em!important
}

.yearfield {
	width:4em!important
}

/* 19. Dialogs */
.tldialogmasthead img {
	width:35px
}

.dialog .content_corners_bottom {
	display:none
}

.builtindialog .tlform h1 {
	margin-left:0
}

.dlgmsg {
	padding-bottom:26px
}

.dlgcontent .fieldinputcolumn {
	width:55%
}

.dlgcontent {
	padding-left:0
}

.dlgcontent .fieldcaptioncolumn {
	width:44%
}

.CloseDialog #aj_formcontent legend,.KeyBasedStartDialog #aj_formcontent legend {
	font-size:36px
}

/* 20. Summary section */
.tl_responsivetable #aj_htmltable_Summary td[id^="BTD_Summary"] {
	display:none
}

.tl_responsivetable #aj_htmltable_Summary th[id^="BTD_Summary"] {
	display:none
}

#aj_tablemain_Summary .tablerowodd {
	background-color:#fff
}

#aj_tablemain_Summary table.tltable tbody tr.section {
	border-bottom:1px solid #BDBCBC!important
}

#aj_tablemain_Summary table.tltable tbody tr {
	border-top:none!important
}

#aj_tablemain_Summary table.tltable thead {
	display:none
}

#aj_tablemain_Summary tr>td:nth-child(2) {
	width:25%
}

#aj_tablemain_Summary tr>td:nth-child(4) {
	width:15%
}

#aj_tablemain_Summary tr.section>td {
	width:104%;
	font-size:36px;
	line-height:1.11111;
	font-weight:700;
	margin-top:8px;
	margin-bottom:20px
}

#aj_tablemain_Summary td,#aj_tablemain_Summary td a {
	font-size:19px
}

.formsectionbody #aj_htmltable_Summary .summaryBorderlessRow {
	border-bottom: 1px solid #fff!important;
	padding-bottom: 0
}

.formsectionbody #aj_htmltable_Summary td ol {
	padding-left:20px;
	margin:0
}

.formsectionbody #aj_htmltable_Summary td li {
	padding-left:15px;
	padding-bottom:10px;
	margin:0
}

/* 21. Responsive handling */
@media only screen and (min-width: 801px) {
	.tl_responsive .cols4 .fieldinputcolumn,.tl_responsive .cols4 .fieldcaptioncolumn,
	.tl_responsive .cols5 .fieldinputcolumn,.tl_responsive .cols5 .fieldcaptioncolumn,.tl_responsive .cols6 .fieldinputcolumn,.tl_responsive .cols6 .fieldcaptioncolumn	{
		float: left;
		width: 88%;
		overflow: hidden;
		min-height: 13px;
	}

	.cols4 .fieldmergedcolumn,.cols5 .fieldmergedcolumn,.cols6 .fieldmergedcolumn {
		width: 88%;
	}
}

@media only screen and (min-width: 781px) {
	.tl_responsive .cols3 .fieldinputcolumn,.tl_responsive .cols3 .fieldcaptioncolumn	{
		float: left;
		width: 88%;
		overflow: hidden;
		min-height: 13px;
	}

	.cols3 .fieldmergedcolumn {
		width: 88%;
	}
}

@media only screen and (min-width: 601px) {
	.open-government-licence h2 {
		display:inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 41px;
		height: 100%;
		margin-top: 0;
	}

	.tl_responsive .cols2 .fieldinputcolumn,.tl_responsive .cols2 .fieldcaptioncolumn {
		float: left;
		width: 88%;
		overflow: hidden;
		min-height: 13px;
	}

	.cols2 .fieldmergedcolumn {
		width: 88%;
	}
}

@media only screen and (max-width: 800px) {
	.tl_responsive .cols2 .colborderrightinvisible,.tl_responsive .cols3 .colborderrightinvisible,.tl_responsive .cols4 .colborderrightinvisible,
	.tl_responsive .cols5 .colborderrightinvisible,.tl_responsive .cols6 .colborderrightinvisible {
		border-right-color:transparent;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		margin-top:1.875em;
		margin-bottom:.83333em;
		font-size:24px!important;
		line-height:1.25em;
		font-weight:700
	}

	h2 {
		margin-top:0;
		margin-bottom:.3125em;
		font-size:19px;
		line-height:1.31579;
		font-weight:700
	}

	h3 {
		margin-top:0;
		margin-bottom:0;
		font-size:16px;
		line-height:1.25
	}

	h4 {
		margin-top:0;
		margin-bottom:0;
		font-size:14px;
		line-height:1.14286
	}

	fieldset.headingenabled legend, .tlform h2 {
		font-size:24px;
		line-height:1.25em
	}

	.help-block,div.hodate label,div.hodate input[type="text"],div.errormsgheader+p, .tlform h4 {
		font-size:16px;
		line-height:1.25
	}

	.standardcaptionhelptext .help-block,.standardcaptionhelptext .help-text,.fielderrortext strong,a.aerror,.formsectionbody table.tltable th,.formsectionbody table.tltable td,.formtablebody a:link,.formtablebody a:visited, .formtablebody .button, .tlform h5 {
		font-size:14px;
		line-height:1.14286
	}

	label,.fieldcaptioncheckbox,.fieldcaptioncolumn_alignright label,.fieldcaptionradio,.fieldmergedcolumn,.top_caption,.fieldcaptionlistbox,.fieldinputcolumn ul li,.fieldcaptioncolumn,div.aj_table>fieldset>legend,div.errormsgheader, .tlform h3 {
		font-size:19px;
		line-height:1.31579
	}

	.fieldinputcolumn {
		width:55%
	}

	.fieldmergedcolumn {
		width:77%
	}
	
	.captionitem {
		width:100%
	}

	.radiogroup label,.checkboxfield label,.radiogroup_err label,.checkboxfield_err label {
		font-size:16px;
		float:none;
		clear:left
	}
	
	.formsectionbody table.tltable th,.formsectionbody table.tltable td {
		padding-left:50%;
		border-bottom:dotted 1px #b8c6cc!important
	}

	.formsectionbody #aj_htmltable_Summary th, .formsectionbody #aj_htmltable_Summary td {
		padding-left:0
	}
	
	.tl_responsivetable #aj_htmltable_Summary tr {
		border:none
	}

	.tl_responsivetable #aj_htmltable_Summary tbody {
		display:table-row-group
	}

	.tl_responsivetable #aj_htmltable_Summary tr {
		display:table-row
	}

	.tl_responsivetable #aj_htmltable_Summary td,.tl_responsivetable #aj_htmltable_Summary th {
		display:table-cell
	}

	.tl_responsivetable #aj_htmltable_Summary .tablerowbuttonsresponsive {
		display:none
	}

	#aj_tablemain_Summary tr.section>td {
		width:0
	}

	.tablerowbuttonscontainer {
		display:block;
		text-align:center;
		margin-left: 20px;
	}
	
	.footer-meta {
		padding: 0 2px 0 7px;
	}
	
	footer .footer-meta .copyright a {
		text-align: center;
		background-position-x: 50%;
	}
	
	.footer-meta .copyright, .footer-meta-inner  {
		width: 100%;
	}
	
	.open-government-licence {
		padding-left: 0;
	}
	
	.open-government-licence p, footer .footer-meta .copyright a {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	a#logo {
		display:block;
		float:none
	}

	div.home {
		float:left;
		width:100%;
		text-align:left
	}

	#proposition-name {
		width:97%;
		padding-top:10px;
		font-size:19px;
		padding-left:20px
	}
}

@media only screen and (max-width: 450px) {
	.dlgcontent .fieldinputcolumn {
		width:100%
	}

	.dlgcontent .fieldcaptioncolumn {
		width:auto
	}

	.nonIE .fieldwidthmodifierlist,.IE8 .fieldwidthmodifierlist,.IE9 .fieldwidthmodifierlist {
		width:100%
	}

	.listboxfield {
		max-width:98%
	}
	
	.tl_responsive .captionitem {
		width:100%
	}
}